.rhp-loader {
    // Block styles
    animation: rotation infinite 3s linear;
    display: flex;
    align-items: center;
}

// Animations
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
