.rhp-radio {
    // Block styles
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
    max-width: 100%;
    padding: var(--a-padding-s) 0;
    align-items: center;
    gap: 0;

    // Elements
    label {
        font: var(--a-text-md-default);
        cursor: pointer;
        padding: 0 var(--a-padding-s);
    }

    &__selection-control {
        display: inline-flex;
        flex: 0 0 auto;
        position: relative;

        &-background {
            position: absolute;
            bottom: 4px;
            left: 4px;
            right: 4px;
            top: 4px;
            border: 1px solid transparent;
            border-radius: 50%;
        }

        .rhp-radio__icon {
            z-index: 1;
            font-size: var(--a-sizing-l);
            height: var(--a-sizing-icon-md);
            width: var(--a-sizing-icon-md);
            border-radius: var(--a-radius-s);
        }

        input {
            position: absolute;
            opacity: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
            user-select: none;
            z-index: 2;

            &:disabled {
                pointer-events: none;
            }

            &:focus-visible + i {
                border-radius: 50%;
                outline: 2px solid var(--a-primary-border-default);
                outline-offset: -2px;
            }
        }
    }

    &__label {
        color: var(--a-neutral-txt-default);
        font: var(--a-text-md-default);
    }

    // Modifiers
    &--default {
        > i {
            color: var(--a-neutral-border-default);
        }
    }

    &--selected {
        > i {
            color: var(--a-primary-border-default);
        }
    }

    &--disabled {
        color: var(--a-neutral-txt-disabled);
        pointer-events: none;

        label {
            color: var(--a-neutral-icon-disabled);
            pointer-events: none;
        }

        > .rhp-radio__selection-control {
            .rhp-radio__selection-control-background {
                background: var(--a-neutral-bg-disabled);
            }

            > i {
                color: var(--a-neutral-icon-disabled);
                pointer-events: none;
            }
        }
    }

    &--readonly {
        > label {
            cursor: default;
        }

        > .rhp-radio__selection-control {
            .rhp-radio__selection-control-background {
                background: var(--a-neutral-bg-disabled);
            }

            > i {
                color: var(--a-neutral-border-disabled);
            }
        }
    }

    &--success {
        .rhp-radio__selection-control {
            &.rhp-radio--default,
            &.rhp-radio--selected {
                input:hover + i,
                &.rhp-radio__current-notification > i {
                    background: var(--a-success-bg-weak-hover);
                    color: var(--a-success-border-hover);
                }
            }

            > i {
                color: var(--a-success-border-default);
            }
        }

        .rhp-radio__label {
            color: var(--a-success-txt-default);
        }
    }

    &--critical {
        .rhp-radio__selection-control {
            &.rhp-radio--default,
            &.rhp-radio--selected {
                input:hover + i,
                &.rhp-radio__current-notification > i {
                    background: var(--a-error-bg-weak-hover);
                    color: var(--a-error-border-hover);
                }
            }

            > i {
                color: var(--a-error-border-default);
            }
        }

        .rhp-radio__label {
            color: var(--a-error-txt-default);
        }
    }

    &--warning {
        .rhp-radio__selection-control {
            &.rhp-radio--default,
            &.rhp-radio--selected {
                input:hover + i,
                &.rhp-radio__current-notification > i {
                    background: var(--a-warning-bg-weak-hover);
                    color: var(--a-warning-border-hover);
                }
            }

            > i {
                color: var(--a-warning-border-default);
            }
        }

        .rhp-radio__label {
            color: var(--a-warning-txt-default);
        }
    }
}
