:root[data-theme="theme-dark"],
.rhp-theme-provider-dark {
    --a-brand-bg-active: #292928;
    --a-brand-bg-default: #161615;
    --a-brand-bg-hover: #1f1f1e;
    --a-brand-bg-weak-active: #292928;
    --a-brand-bg-weak-default: #090908;
    --a-brand-bg-weak-hover: #1f1f1e;
    --a-brand-border-active: #ecebe7;
    --a-brand-border-default: #93928e;
    --a-brand-border-hover: #c5c4bf;
    --a-brand-border-weak-active: rgba(147, 146, 142, 0.9);
    --a-brand-border-weak-default: rgba(147, 146, 142, 0.7);
    --a-brand-border-weak-hover: rgba(147, 146, 142, 0.8);
    --a-brand-icon-active: #ffffff;
    --a-brand-icon-default: #fbfcfc;
    --a-brand-icon-hover: #e8ebf2;
    --a-brand-icon-inv-active: #ecebe7;
    --a-brand-icon-inv-default: #c5c4bf;
    --a-brand-icon-inv-hover: #ecebe7;
    --a-brand-icon-weak-active: #e8ebf2;
    --a-brand-icon-weak-default: #93928e;
    --a-brand-icon-weak-hover: #c0cbe1;
    --a-brand-icon-weak-inv-active: #93928e;
    --a-brand-icon-weak-inv-default: #61605d;
    --a-brand-icon-weak-inv-hover: #c5c4bf;
    --a-brand-txt-active: #ffffff;
    --a-brand-txt-default: #fcfcfa;
    --a-brand-txt-hover: #ecebe7;
    --a-brand-txt-inv-active: #ecebe7;
    --a-brand-txt-inv-default: #c5c4bf;
    --a-brand-txt-inv-hover: #ecebe7;
    --a-brand-txt-weak-active: #ecebe7;
    --a-brand-txt-weak-default: #93928e;
    --a-brand-txt-weak-hover: #c5c4bf;
    --a-brand-txt-weak-inv-active: #ecebe7;
    --a-brand-txt-weak-inv-default: #93928e;
    --a-brand-txt-weak-inv-hover: #c5c4bf;
    --a-datatable-actions-alpha-bg-active: rgba(255, 255, 255, 0.2);
    --a-datatable-actions-alpha-bg-default: rgba(255, 255, 255, 0);
    --a-datatable-actions-alpha-bg-disabled: rgba(255, 255, 255, 0.2);
    --a-datatable-actions-alpha-bg-hover: rgba(255, 255, 255, 0.1);
    --a-datatable-actions-alpha-border-active: rgba(255, 255, 255, 0.4);
    --a-datatable-actions-alpha-border-default: rgba(255, 255, 255, 0);
    --a-datatable-actions-alpha-border-disabled: rgba(255, 255, 255, 0);
    --a-datatable-actions-alpha-border-hover: rgba(255, 255, 255, 0.2);
    --a-datatable-actions-bg-active: #292928;
    --a-datatable-actions-bg-default: #090908;
    --a-datatable-actions-bg-disabled: #1f1f1e;
    --a-datatable-actions-bg-hover: #1f1f1e;
    --a-datatable-actions-border-active: rgba(255, 255, 255, 0.4);
    --a-datatable-actions-border-default: rgba(255, 255, 255, 0);
    --a-datatable-actions-border-disabled: rgba(255, 255, 255, 0);
    --a-datatable-actions-border-hover: rgba(255, 255, 255, 0.2);
    --a-datatable-actiona-icon-active: #ffffff;
    --a-datatable-actiona-icon-default: #fcfcfa;
    --a-datatable-actiona-icon-disabled: rgba(255, 255, 255, 0.5);
    --a-datatable-actiona-icon-hover: #ecebe7;
    --a-datatable-actions-txt-active: #ffffff;
    --a-datatable-actions-txt-default: #fcfcfa;
    --a-datatable-actions-txt-disabled: rgba(255, 255, 255, 0.5);
    --a-datatable-actions-txt-hover: #ecebe7;
    --a-datatable-cell-bg-active: #161615;
    --a-datatable-cell-bg-default: #161615;
    --a-datatable-cell-bg-disabled: #1f1f1e;
    --a-datatable-cell-bg-hover: #1f1f1e;
    --a-datatable-cell-bg-weak-active: #292928;
    --a-datatable-cell-bg-weak-default: #1b1b1a;
    --a-datatable-cell-bg-weak-hover: #1f1f1e;
    --a-datatable-cell-border-active: #3d5fac;
    --a-datatable-cell-border-default: #3e3d3b;
    --a-datatable-cell-border-disabled: #1f1f1e;
    --a-datatable-cell-border-hover: #6a85bf;
    --a-datatable-cell-border-strong-active: #c5c4bf;
    --a-datatable-cell-border-strong-default: #bfbeb9;
    --a-datatable-cell-border-strong-hover: #93928e;
    --a-datatable-cell-border-weak-active: #93928e;
    --a-datatable-cell-border-weak-default: #3e3d3b;
    --a-datatable-cell-border-weak-hover: #61605d;
    --a-datatable-cell-icon-active: #ffffff;
    --a-datatable-cell-icon-default: #fcfcfa;
    --a-datatable-cell-icon-disabled: #1f1f1e;
    --a-datatable-cell-icon-hover: #ecebe7;
    --a-datatable-cell-icon-weak-active: #fcfcfa;
    --a-datatable-cell-icon-weak-default: #c5c4bf;
    --a-datatable-cell-icon-weak-hover: #ecebe7;
    --a-datatable-cell-txt-active: #ffffff;
    --a-datatable-cell-txt-default: #fcfcfa;
    --a-datatable-cell-txt-disabled: #1f1f1e;
    --a-datatable-cell-txt-hover: #ecebe7;
    --a-datatable-cell-txt-weak-active: #fcfcfa;
    --a-datatable-cell-txt-weak-default: #c5c4bf;
    --a-datatable-cell-txt-weak-hover: #ecebe7;
    --a-datatable-header-bg-active: #3e3d3b;
    --a-datatable-header-bg-default: #1f1f1e;
    --a-datatable-header-bg-disabled: #1f1f1e;
    --a-datatable-header-bg-hover: #292928;
    --a-datatable-header-border-active: #dad9d5;
    --a-datatable-header-border-default: #3e3d3b;
    --a-datatable-header-border-disabled: #1f1f1e;
    --a-datatable-header-border-hover: #61605d;
    --a-datatable-header-icon-active: #ffffff;
    --a-datatable-header-icon-default: #fcfcfa;
    --a-datatable-header-icon-disabled: #1f1f1e;
    --a-datatable-header-icon-hover: #ecebe7;
    --a-datatable-header-txt-active: #ffffff;
    --a-datatable-header-txt-default: #fcfcfa;
    --a-datatable-header-txt-disabled: #1f1f1e;
    --a-datatable-header-txt-hover: #ecebe7;
    --a-datatable-primary-bg-active: #a4b6fb;
    --a-datatable-primary-bg-default: #3d5fac;
    --a-datatable-primary-bg-disabled: #122554;
    --a-datatable-primary-bg-hover: #7588f6;
    --a-datatable-primary-icon-active: #fbfcfc;
    --a-datatable-primary-icon-default: #e8ebf2;
    --a-datatable-primary-icon-disabled: #3d5fac;
    --a-datatable-primary-icon-hover: #c0cbe1;
    --a-datatable-primary-txt-active: #fbfcfc;
    --a-datatable-primary-txt-default: #e8ebf2;
    --a-datatable-primary-txt-disabled: #3d5fac;
    --a-datatable-primary-txt-hover: #c0cbe1;
    --a-datatable-row-bg-active: #292928;
    --a-datatable-row-bg-default: #161615;
    --a-datatable-row-bg-disabled: #1f1f1e;
    --a-datatable-row-bg-hover: #1f1f1e;
    --a-datatable-row-bg-weak-active: #292928;
    --a-datatable-row-bg-weak-default: #161615;
    --a-datatable-row-bg-weak-hover: #1f1f1e;
    --a-datatable-row-bg-zebra-default: #090908;
    --a-datatable-row-border-active: #93928e;
    --a-datatable-row-border-default: #3e3d3b;
    --a-datatable-row-border-disabled: #1f1f1e;
    --a-datatable-row-border-hover: #61605d;
    --a-datatable-row-border-strong-active: #c5c4bf;
    --a-datatable-row-border-strong-default: #61605d;
    --a-datatable-row-border-strong-hover: #93928e;
    --a-datatable-row-border-weak-active: #dad9d5;
    --a-datatable-row-border-weak-default: #3e3d3b;
    --a-datatable-row-border-weak-hover: #61605d;
    --a-error-bg-active: #f0dee2;
    --a-error-bg-default: #cd6a8b;
    --a-error-bg-hover: #e0aab9;
    --a-error-bg-weak-active: #6e3347;
    --a-error-bg-weak-default: #2d131c;
    --a-error-bg-weak-hover: #4d2231;
    --a-error-border-active: #f0dee2;
    --a-error-border-default: #cd6a8b;
    --a-error-border-hover: #e0aab9;
    --a-error-border-weak-active: rgba(205, 106, 139, 0.9);
    --a-error-border-weak-default: rgba(205, 106, 139, 0.7);
    --a-error-border-weak-hover: rgba(205, 106, 139, 0.8);
    --a-error-icon-active: #f7eff1;
    --a-error-icon-default: #e0aab9;
    --a-error-icon-hover: #f0dee2;
    --a-error-icon-inv-active: #1e0b11;
    --a-error-icon-inv-default: #2d131c;
    --a-error-icon-inv-hover: #4d2231;
    --a-error-txt-active: #f7eff1;
    --a-error-txt-default: #e0aab9;
    --a-error-txt-hover: #f0dee2;
    --a-error-txt-inv-active: #1e0b11;
    --a-error-txt-inv-default: #2d131c;
    --a-error-txt-inv-hover: #2d131c;
    --a-info-bg-active: #e6e0ec;
    --a-info-bg-default: #9980b7;
    --a-info-bg-hover: #c2b3d4;
    --a-info-bg-weak-active: #3b2758;
    --a-info-bg-weak-default: #221633;
    --a-info-bg-weak-hover: #221633;
    --a-info-border-active: #e6e0ec;
    --a-info-border-default: #9980b7;
    --a-info-border-hover: #c2b3d4;
    --a-info-border-weak-active: rgba(194, 179, 212, 0.9);
    --a-info-border-weak-default: rgba(194, 179, 212, 0.7);
    --a-info-border-weak-hover: rgba(194, 179, 212, 0.8);
    --a-info-icon-active: #f2f0f5;
    --a-info-icon-default: #c2b3d4;
    --a-info-icon-hover: #e6e0ec;
    --a-info-icon-inv-active: #170c20;
    --a-info-icon-inv-default: #221633;
    --a-info-icon-inv-hover: #3b2758;
    --a-info-txt-active: #f2f0f5;
    --a-info-txt-default: #c2b3d4;
    --a-info-txt-hover: #e6e0ec;
    --a-info-txt-inv-active: #170c20;
    --a-info-txt-inv-default: #221633;
    --a-info-txt-inv-hover: #3b2758;
    --a-neutral-bg-active: #ecebe7;
    --a-neutral-bg-default-90a: rgba(22, 22, 21, 0.9);
    --a-neutral-bg-default: #161615;
    --a-neutral-bg-disabled: #1f1f1e;
    --a-neutral-bg-hover: #1f1f1e;
    --a-neutral-bg-inv-default-20a: rgba(248, 248, 247, 0.2);
    --a-neutral-bg-inv-default: #fcfcfa;
    --a-neutral-bg-weak-active: #292928;
    --a-neutral-bg-weak-default: #090908;
    --a-neutral-bg-weak-hover: #1f1f1e;
    --a-neutral-border-active: #ecebe7;
    --a-neutral-border-default: #93928e;
    --a-neutral-border-disabled: #61605d;
    --a-neutral-border-hover: #c5c4bf;
    --a-neutral-border-weak-active: rgba(147, 146, 142, 0.9);
    --a-neutral-border-weak-default: rgba(147, 146, 142, 0.7);
    --a-neutral-border-weak-hover: rgba(147, 146, 142, 0.8);
    --a-neutral-canvas-default: #090908;
    --a-neutral-elevation-100-drop: rgba(9, 9, 8, 0.24);
    --a-neutral-elevation-100-inner: rgba(9, 9, 8, 0.1);
    --a-neutral-elevation-200-drop: rgba(9, 9, 8, 0.24);
    --a-neutral-elevation-200-inner: rgba(9, 9, 8, 0.1);
    --a-neutral-elevation-300-drop: rgba(9, 9, 8, 0.28);
    --a-neutral-elevation-300-inner: rgba(9, 9, 8, 0.1);
    --a-neutral-icon-active: #ffffff;
    --a-neutral-icon-default: #fcfcfa;
    --a-neutral-icon-disabled: #61605d;
    --a-neutral-icon-hover: #ecebe7;
    --a-neutral-icon-inv-active: #161615;
    --a-neutral-icon-inv-default: #3e3d3b;
    --a-neutral-icon-inv-disabled: #93928e;
    --a-neutral-icon-inv-hover: #292928;
    --a-neutral-icon-weak-active: #93928e;
    --a-neutral-icon-weak-default: #c5c4bf;
    --a-neutral-icon-weak-hover: #c5c4bf;
    --a-neutral-icon-weak-inv-active: #1f1f1e;
    --a-neutral-icon-weak-inv-default: #61605d;
    --a-neutral-icon-weak-inv-hover: #3e3d3b;
    --a-neutral-shadow-button-drop: #5c5b57;
    --a-neutral-shadow-button-inner: #383836;
    --a-neutral-txt-active: #ffffff;
    --a-neutral-txt-default: #fcfcfa;
    --a-neutral-txt-disabled: #61605d;
    --a-neutral-txt-hover: #ecebe7;
    --a-neutral-txt-inv-active: #161615;
    --a-neutral-txt-inv-default: #090908;
    --a-neutral-txt-inv-disabled: #93928e;
    --a-neutral-txt-inv-hover: #292928;
    --a-neutral-txt-weak-active: #93928e;
    --a-neutral-txt-weak-default: #93928e;
    --a-neutral-txt-weak-hover: #c5c4bf;
    --a-neutral-txt-weak-inv-active: #1f1f1e;
    --a-neutral-txt-weak-inv-default: #61605d;
    --a-neutral-txt-weak-inv-hover: #3e3d3b;
    --a-primary-bg-active: #e8ebf2;
    --a-primary-bg-default: #9baed4;
    --a-primary-bg-hover: #c0cbe1;
    --a-primary-bg-weak-active: rgba(155, 174, 212, 0.7);
    --a-primary-bg-weak-default: rgba(155, 174, 212, 0.25);
    --a-primary-bg-weak-hover: rgba(155, 174, 212, 0.5);
    --a-primary-border-active: #3d5fac;
    --a-primary-border-default: #6a85bf;
    --a-primary-border-hover: #9baed4;
    --a-primary-border-weak-active: rgba(155, 174, 212, 0.9);
    --a-primary-border-weak-default: rgba(155, 174, 212, 0.7);
    --a-primary-border-weak-hover: rgba(155, 174, 212, 0.8);
    --a-primary-icon-active: #fbfcfc;
    --a-primary-icon-default: #9baed4;
    --a-primary-icon-hover: #e8ebf2;
    --a-primary-icon-inv-active: #03081a;
    --a-primary-icon-inv-default: #03081a;
    --a-primary-icon-inv-hover: #03081a;
    --a-primary-icon-weak-active: #e8ebf2;
    --a-primary-icon-weak-default: #6a85bf;
    --a-primary-icon-weak-hover: #9baed4;
    --a-primary-icon-weak-inv-active: #03081a;
    --a-primary-icon-weak-inv-default: #122554;
    --a-primary-icon-weak-inv-hover: #081432;
    --a-primary-txt-active: #fbfcfc;
    --a-primary-txt-default: #9baed4;
    --a-primary-txt-hover: #e8ebf2;
    --a-primary-txt-inv-active: #03081a;
    --a-primary-txt-inv-default: #03081a;
    --a-primary-txt-inv-hover: #03081a;
    --a-primary-txt-weak-active: #e8ebf2;
    --a-primary-txt-weak-default: #9baed4;
    --a-primary-txt-weak-hover: #c0cbe1;
    --a-primary-txt-weak-inv-active: #03081a;
    --a-primary-txt-weak-inv-default: #122554;
    --a-primary-txt-weak-inv-hover: #081432;
    --a-success-bg-active: #81f7de;
    --a-success-bg-default: #46af9a;
    --a-success-bg-hover: #54cdb4;
    --a-success-bg-weak-active: #071310;
    --a-success-bg-weak-default: #0b1f1b;
    --a-success-bg-weak-hover: #12362f;
    --a-success-border-active: #81f7de;
    --a-success-border-default: #46af9a;
    --a-success-border-hover: #54cdb4;
    --a-success-border-weak-active: rgba(84, 205, 180, 0.9);
    --a-success-border-weak-default: rgba(84, 205, 180, 0.7);
    --a-success-border-weak-hover: rgba(84, 205, 180, 0.8);
    --a-succesa-icon-active: #d0faef;
    --a-succesa-icon-default: #54cdb4;
    --a-succesa-icon-hover: #81f7de;
    --a-succesa-icon-inv-active: #071310;
    --a-succesa-icon-inv-default: #0b1f1b;
    --a-succesa-icon-inv-hover: #12362f;
    --a-success-txt-active: #d0faef;
    --a-success-txt-default: #54cdb4;
    --a-success-txt-hover: #81f7de;
    --a-success-txt-inv-active: #071310;
    --a-success-txt-inv-default: #0b1f1b;
    --a-success-txt-inv-hover: #12362f;
    --a-warning-bg-active: #ece592;
    --a-warning-bg-default: #979253;
    --a-warning-bg-hover: #c4be6e;
    --a-warning-bg-weak-active: #12110a;
    --a-warning-bg-weak-default: #1d1c12;
    --a-warning-bg-weak-hover: #33311a;
    --a-warning-border-active: #ece592;
    --a-warning-border-default: #979253;
    --a-warning-border-hover: #c4be6e;
    --a-warning-border-weak-active: rgba(196, 188, 69, 0.9);
    --a-warning-border-weak-default: rgba(196, 188, 69, 0.7);
    --a-warning-border-weak-hover: rgba(196, 188, 69, 0.8);
    --a-warning-icon-active: #ece592;
    --a-warning-icon-default: #979253;
    --a-warning-icon-hover: #c4be6e;
    --a-warning-icon-inv-active: #12110a;
    --a-warning-icon-inv-default: #1d1c12;
    --a-warning-icon-inv-hover: #33311a;
    --a-warning-txt-active: #faf3a6;
    --a-warning-txt-default: #c4be6e;
    --a-warning-txt-hover: #ece592;
    --a-warning-txt-inv-active: #12110a;
    --a-warning-txt-inv-default: #1d1c12;
    --a-warning-txt-inv-hover: #33311a;
}
