:root {
    // Dark theme alpha values
    --a-dark-alpha-error-500-70: rgba(205, 106, 139, 0.7);
    --a-dark-alpha-error-500-80: rgba(205, 106, 139, 0.8);
    --a-dark-alpha-error-500-90: rgba(205, 106, 139, 0.9);
    --a-dark-alpha-info-400-70: rgba(194, 179, 212, 0.7);
    --a-dark-alpha-info-400-80: rgba(194, 179, 212, 0.8);
    --a-dark-alpha-info-400-90: rgba(194, 179, 212, 0.9);
    --a-dark-alpha-neutral-400-70: rgba(147, 146, 142, 0.7);
    --a-dark-alpha-neutral-400-80: rgba(147, 146, 142, 0.8);
    --a-dark-alpha-neutral-400-90: rgba(147, 146, 142, 0.9);
    --a-dark-alpha-neutral-600-10: rgba(9, 9, 8, 0.1);
    --a-dark-alpha-neutral-600-24: rgba(9, 9, 8, 0.24);
    --a-dark-alpha-neutral-600-28: rgba(9, 9, 8, 0.28);
    --a-dark-alpha-primary-400-25: rgba(155, 174, 212, 0.25);
    --a-dark-alpha-primary-400-50: rgba(155, 174, 212, 0.5);
    --a-dark-alpha-primary-400-70: rgba(155, 174, 212, 0.7);
    --a-dark-alpha-primary-400-80: rgba(155, 174, 212, 0.8);
    --a-dark-alpha-primary-400-90: rgba(155, 174, 212, 0.9);
    --a-dark-alpha-success-400-70: rgba(84, 205, 180, 0.7);
    --a-dark-alpha-success-400-80: rgba(84, 205, 180, 0.8);
    --a-dark-alpha-success-400-90: rgba(84, 205, 180, 0.9);
    --a-dark-alpha-warning-400-70: rgba(196, 188, 69, 0.7);
    --a-dark-alpha-warning-400-80: rgba(196, 188, 69, 0.8);
    --a-dark-alpha-warning-400-90: rgba(196, 188, 69, 0.9);

    // Dark theme brand colors
    --a-dark-brand-0: #ffffff;
    --a-dark-brand-100: #fbfcfc;
    --a-dark-brand-1000: #03081a;
    --a-dark-brand-200: #e8ebf2;
    --a-dark-brand-300: #c0cbe1;
    --a-dark-brand-400: #9baed4;
    --a-dark-brand-500: #6a85bf;
    --a-dark-brand-600: #3d5fac;
    --a-dark-brand-700: #224086;
    --a-dark-brand-800: #122554;
    --a-dark-brand-900: #081432;

    // Dark theme error colors
    --a-dark-error-0: #ffffff;
    --a-dark-error-100: #faf7f8;
    --a-dark-error-1000: #1e0b11;
    --a-dark-error-200: #f7eff1;
    --a-dark-error-300: #f0dee2;
    --a-dark-error-400: #e0aab9;
    --a-dark-error-500: #cd6a8b;
    --a-dark-error-600: #a34e6b;
    --a-dark-error-700: #6e3347;
    --a-dark-error-800: #4d2231;
    --a-dark-error-900: #2d131c;

    // Dark theme info colors
    --a-dark-info-0: #ffffff;
    --a-dark-info-100: #f9f7fa;
    --a-dark-info-1000: #170c20;
    --a-dark-info-200: #f2f0f5;
    --a-dark-info-300: #e6e0ec;
    --a-dark-info-400: #c2b3d4;
    --a-dark-info-500: #9980b7;
    --a-dark-info-600: #7c5da3;
    --a-dark-info-700: #56397e;
    --a-dark-info-800: #3b2758;
    --a-dark-info-900: #221633;

    // Dark theme neutral colors
    --a-dark-neutral-0: #ffffff;
    --a-dark-neutral-100: #fcfcfa;
    --a-dark-neutral-1000: #090908;
    --a-dark-neutral-200: #ecebe7;
    --a-dark-neutral-300: #c5c4bf;
    --a-dark-neutral-400: #93928e;
    --a-dark-neutral-500: #61605d;
    --a-dark-neutral-600: #3e3d3b;
    --a-dark-neutral-700: #292928;
    --a-dark-neutral-800: #1f1f1e;
    --a-dark-neutral-900: #161615;

    // Dark theme primary colors
    --a-dark-primary-0: #ffffff;
    --a-dark-primary-100: #fbfcfc;
    --a-dark-primary-1000: #03081a;
    --a-dark-primary-200: #e8ebf2;
    --a-dark-primary-300: #c0cbe1;
    --a-dark-primary-400: #9baed4;
    --a-dark-primary-500: #6a85bf;
    --a-dark-primary-600: #3d5fac;
    --a-dark-primary-700: #224086;
    --a-dark-primary-800: #122554;
    --a-dark-primary-900: #081432;

    // Dark theme success colors
    --a-dark-success-0: #ffffff;
    --a-dark-success-100: #eafcf7;
    --a-dark-success-1000: #071310;
    --a-dark-success-200: #d0faef;
    --a-dark-success-300: #81f7de;
    --a-dark-success-400: #54cdb4;
    --a-dark-success-500: #46af9a;
    --a-dark-success-600: #2d7768;
    --a-dark-success-700: #1b4f45;
    --a-dark-success-800: #12362f;
    --a-dark-success-900: #0b1f1b;

    // Dark theme warning colors
    --a-dark-warning-0: #ffffff;
    --a-dark-warning-100: #fbf8e6;
    --a-dark-warning-1000: #12110a;
    --a-dark-warning-200: #faf3a6;
    --a-dark-warning-300: #ece592;
    --a-dark-warning-400: #c4be6e;
    --a-dark-warning-500: #979253;
    --a-dark-warning-600: #6f6c3c;
    --a-dark-warning-700: #4a4826;
    --a-dark-warning-800: #33311a;
    --a-dark-warning-900: #1d1c12;

    // Typography
    --a-fontfamily-primary: Inter;

    // Light theme alpha values
    --a-light-alpha-neutral-0-15: rgba(255, 255, 255, 0.15);
    --a-light-alpha-neutral-0-20: rgba(255, 255, 255, 0.2);
    --a-light-alpha-neutral-0-30: rgba(255, 255, 255, 0.3);
    --a-light-alpha-neutral-500-40: rgba(191, 190, 185, 0.4);
    --a-light-alpha-neutral-900-06: rgba(27, 27, 26, 0.06);
    --a-light-alpha-neutral-900-12: rgba(27, 27, 26, 0.12);
    --a-light-alpha-neutral-900-16: rgba(27, 27, 26, 0.16);

    // Light theme brand colors
    --a-light-brand-0: #ffffff;
    --a-light-brand-100: #f6f8ff;
    --a-light-brand-1000: #090640;
    --a-light-brand-200: #ecf1ff;
    --a-light-brand-300: #dae2fe;
    --a-light-brand-400: #a4b6fb;
    --a-light-brand-500: #7588f6;
    --a-light-brand-600: #4d58eb;
    --a-light-brand-700: #371ee1;
    --a-light-brand-800: #221098;
    --a-light-brand-900: #110662;

    // Light theme error colors
    --a-light-error-0: #ffffff;
    --a-light-error-100: #fef6f9;
    --a-light-error-1000: #2b000e;
    --a-light-error-200: #fdedf2;
    --a-light-error-300: #fbdae5;
    --a-light-error-400: #f4a1bd;
    --a-light-error-500: #ec608f;
    --a-light-error-600: #d50047;
    --a-light-error-700: #910031;
    --a-light-error-800: #670022;
    --a-light-error-900: #3f0015;

    // Light theme info colors
    --a-light-info-0: #ffffff;
    --a-light-info-100: #f9f7fc;
    --a-light-info-1000: #150d20;
    --a-light-info-200: #f3eff9;
    --a-light-info-300: #e8dff4;
    --a-light-info-400: #c6afe3;
    --a-light-info-500: #a580d3;
    --a-light-info-600: #8351c2;
    --a-light-info-700: #583583;
    --a-light-info-800: #3c245a;
    --a-light-info-900: #231534;

    // Light theme neutral colors
    --a-light-neutral-0: #ffffff;
    --a-light-neutral-100: #f7f7f4;
    --a-light-neutral-1000: #000000;
    --a-light-neutral-200: #efeeeb;
    --a-light-neutral-300: #e8e7e3;
    --a-light-neutral-400: #dad9d5;
    --a-light-neutral-500: #bfbeb9;
    --a-light-neutral-600: #8d8c88;
    --a-light-neutral-700: #5c5b57;
    --a-light-neutral-800: #383836;
    --a-light-neutral-900: #1b1b1a;

    // Light theme primary colors
    --a-light-primary-0: #ffffff;
    --a-light-primary-100: #f6f8ff;
    --a-light-primary-1000: #090640;
    --a-light-primary-200: #ecf1ff;
    --a-light-primary-300: #dae2fe;
    --a-light-primary-400: #a4b6fb;
    --a-light-primary-500: #7588f6;
    --a-light-primary-600: #4d58eb;
    --a-light-primary-700: #371ee1;
    --a-light-primary-800: #221098;
    --a-light-primary-900: #110662;

    // Light theme success colors
    --a-light-success-0: #ffffff;
    --a-light-success-100: #f2f9f8;
    --a-light-success-1000: #051410;
    --a-light-success-200: #e6f4f0;
    --a-light-success-300: #cce8e2;
    --a-light-success-400: #7fc6b6;
    --a-light-success-500: #2da287;
    --a-light-success-600: #00795d;
    --a-light-success-700: #00513e;
    --a-light-success-800: #00382b;
    --a-light-success-900: #002019;

    // Light theme warning colors
    --a-light-warning-0: #ffffff;
    --a-light-warning-100: #faf9e3;
    --a-light-warning-1000: #121106;
    --a-light-warning-200: #f6f3c7;
    --a-light-warning-300: #ece68c;
    --a-light-warning-400: #c4bc45;
    --a-light-warning-500: #9a9336;
    --a-light-warning-600: #716d28;
    --a-light-warning-700: #4b481b;
    --a-light-warning-800: #333112;
    --a-light-warning-900: #1d1c0a;

    // Number tokens
    --a-numbers-0: 0px;
    --a-numbers-100: 2px;
    --a-numbers-1000: 48px;
    --a-numbers-1100: 56px;
    --a-numbers-1200: 64px;
    --a-numbers-200: 4px;
    --a-numbers-300: 8px;
    --a-numbers-400: 12px;
    --a-numbers-450: 14px;
    --a-numbers-500: 16px;
    --a-numbers-600: 20px;
    --a-numbers-700: 24px;
    --a-numbers-800: 32px;
    --a-numbers-900: 40px;
}
