:root,
.rhp-theme-provider-light {
    // Brand tokens
    --a-brand-bg-active: rgba(255, 255, 255, 0.2);
    --a-brand-bg-default: #371ee1;
    --a-brand-bg-hover: rgba(255, 255, 255, 0.1);
    --a-brand-bg-weak-active: #4d58eb;
    --a-brand-bg-weak-default: #f6f8ff;
    --a-brand-bg-weak-hover: #a4b6fb;
    --a-brand-border-active: #110662;
    --a-brand-border-default: #371ee1;
    --a-brand-border-hover: #221098;
    --a-brand-border-weak-active: rgba(255, 255, 255, 0.3);
    --a-brand-border-weak-default: rgba(255, 255, 255, 0.15);
    --a-brand-border-weak-hover: rgba(255, 255, 255, 0.2);
    --a-brand-icon-active: #ffffff;
    --a-brand-icon-default: #f6f8ff;
    --a-brand-icon-hover: #ecf1ff;
    --a-brand-icon-inv-active: #ffffff;
    --a-brand-icon-inv-default: #f6f8ff;
    --a-brand-icon-inv-hover: #ecf1ff;
    --a-brand-icon-weak-active: #f6f8ff;
    --a-brand-icon-weak-default: #dae2fe;
    --a-brand-icon-weak-hover: #ecf1ff;
    --a-brand-icon-weak-inv-active: #f6f8ff;
    --a-brand-icon-weak-inv-default: #dae2fe;
    --a-brand-icon-weak-inv-hover: #ecf1ff;
    --a-brand-txt-active: #ffffff;
    --a-brand-txt-default: #f6f8ff;
    --a-brand-txt-hover: #ecf1ff;
    --a-brand-txt-inv-active: #ffffff;
    --a-brand-txt-inv-default: #f6f8ff;
    --a-brand-txt-inv-hover: #ecf1ff;
    --a-brand-txt-weak-active: #f6f8ff;
    --a-brand-txt-weak-default: #dae2fe;
    --a-brand-txt-weak-hover: #ecf1ff;
    --a-brand-txt-weak-inv-active: #221098;
    --a-brand-txt-weak-inv-default: #4d58eb;
    --a-brand-txt-weak-inv-hover: #371ee1;

    // DataTable tokens
    --a-datatable-actions-alpha-bg-active: rgba(255, 255, 255, 0.8);
    --a-datatable-actions-alpha-bg-default: rgba(255, 255, 255, 0);
    --a-datatable-actions-alpha-bg-disabled: rgba(255, 255, 255, 0.2);
    --a-datatable-actions-alpha-bg-hover: rgba(255, 255, 255, 0.5);
    --a-datatable-actions-alpha-border-active: #ffffff;
    --a-datatable-actions-alpha-border-default: rgba(255, 255, 255, 0);
    --a-datatable-actions-alpha-border-disabled: rgba(255, 255, 255, 0);
    --a-datatable-actions-alpha-border-hover: rgba(255, 255, 255, 0.8);
    --a-datatable-actions-bg-active: #e8e7e3;
    --a-datatable-actions-bg-default: #ffffff;
    --a-datatable-actions-bg-disabled: #f7f7f4;
    --a-datatable-actions-bg-hover: #efeeeb;
    --a-datatable-actions-border-active: #ffffff;
    --a-datatable-actions-border-default: rgba(255, 255, 255, 0);
    --a-datatable-actions-border-disabled: rgba(255, 255, 255, 0);
    --a-datatable-actions-border-hover: rgba(255, 255, 255, 0.8);
    --a-datatable-actiona-icon-active: #000000;
    --a-datatable-actiona-icon-default: #383836;
    --a-datatable-actiona-icon-disabled: rgba(0, 0, 0, 0.5);
    --a-datatable-actiona-icon-hover: #1b1b1a;
    --a-datatable-actions-txt-active: #1b1b1a;
    --a-datatable-actions-txt-default: #383836;
    --a-datatable-actions-txt-disabled: rgba(0, 0, 0, 0.5);
    --a-datatable-actions-txt-hover: #383836;

    // DataTable cell tokens
    --a-datatable-cell-bg-active: #ffffff;
    --a-datatable-cell-bg-default: #ffffff;
    --a-datatable-cell-bg-disabled: #f7f7f4;
    --a-datatable-cell-bg-hover: #f6f8ff;
    --a-datatable-cell-bg-weak-active: #dae2fe;
    --a-datatable-cell-bg-weak-default: #f7f7f4;
    --a-datatable-cell-bg-weak-hover: #ecf1ff;
    --a-datatable-cell-border-active: #371ee1;
    --a-datatable-cell-border-default: #bfbeb9;
    --a-datatable-cell-border-disabled: #dad9d5;
    --a-datatable-cell-border-hover: #4d58eb;
    --a-datatable-cell-border-strong-active: #383836;
    --a-datatable-cell-border-strong-default: #8d8c88;
    --a-datatable-cell-border-strong-hover: #5c5b57;
    --a-datatable-cell-border-weak-active: #bfbeb9;
    --a-datatable-cell-border-weak-default: #e8e7e3;
    --a-datatable-cell-border-weak-hover: #dad9d5;
    --a-datatable-cell-icon-active: #000000;
    --a-datatable-cell-icon-default: #383836;
    --a-datatable-cell-icon-disabled: #8d8c88;
    --a-datatable-cell-icon-hover: #1b1b1a;
    --a-datatable-cell-icon-weak-active: #383836;
    --a-datatable-cell-icon-weak-default: #8d8c88;
    --a-datatable-cell-icon-weak-hover: #5c5b57;
    --a-datatable-cell-txt-active: #000000;
    --a-datatable-cell-txt-default: #383836;
    --a-datatable-cell-txt-disabled: #8d8c88;
    --a-datatable-cell-txt-hover: #1b1b1a;
    --a-datatable-cell-txt-weak-active: #383836;
    --a-datatable-cell-txt-weak-default: #8d8c88;
    --a-datatable-cell-txt-weak-hover: #5c5b57;

    // Error tokens
    --a-error-bg-active: #d50047;
    --a-error-bg-default: #d50047;
    --a-error-bg-hover: #b3003a;
    --a-error-bg-weak-active: #fbdae5;
    --a-error-bg-weak-default: #fef6f9;
    --a-error-bg-weak-hover: #fdedf2;
    --a-error-border-active: #910031;
    --a-error-border-default: #d50047;
    --a-error-border-hover: #b3003a;
    --a-error-border-weak-active: #f4a1bd;
    --a-error-border-weak-default: #fbdae5;
    --a-error-border-weak-hover: #fdedf2;
    --a-error-icon-active: #ffffff;
    --a-error-icon-default: #ffffff;
    --a-error-icon-hover: #ffffff;
    --a-error-icon-inv-active: #ffffff;
    --a-error-icon-inv-default: #ffffff;
    --a-error-icon-inv-hover: #ffffff;
    --a-error-icon-weak-active: #d50047;
    --a-error-icon-weak-default: #ec608f;
    --a-error-icon-weak-hover: #f4a1bd;
    --a-error-icon-weak-inv-active: #ffffff;
    --a-error-icon-weak-inv-default: #ffffff;
    --a-error-icon-weak-inv-hover: #ffffff;
    --a-error-txt-active: #ffffff;
    --a-error-txt-default: #ffffff;
    --a-error-txt-hover: #ffffff;
    --a-error-txt-inv-active: #ffffff;
    --a-error-txt-inv-default: #ffffff;
    --a-error-txt-inv-hover: #ffffff;
    --a-error-txt-weak-active: #d50047;
    --a-error-txt-weak-default: #ec608f;
    --a-error-txt-weak-hover: #f4a1bd;
    --a-error-txt-weak-inv-active: #ffffff;
    --a-error-txt-weak-inv-default: #ffffff;
    --a-error-txt-weak-inv-hover: #ffffff;

    // Info tokens
    --a-info-bg-active: #8351c2;
    --a-info-bg-default: #8351c2;
    --a-info-bg-hover: #6b419e;
    --a-info-bg-weak-active: #e8dff4;
    --a-info-bg-weak-default: #f9f7fc;
    --a-info-bg-weak-hover: #f3eff9;
    --a-info-border-active: #583583;
    --a-info-border-default: #8351c2;
    --a-info-border-hover: #6b419e;
    --a-info-border-weak-active: #c6afe3;
    --a-info-border-weak-default: #e8dff4;
    --a-info-border-weak-hover: #f3eff9;
    --a-info-icon-active: #ffffff;
    --a-info-icon-default: #ffffff;
    --a-info-icon-hover: #ffffff;
    --a-info-icon-inv-active: #ffffff;
    --a-info-icon-inv-default: #ffffff;
    --a-info-icon-inv-hover: #ffffff;
    --a-info-icon-weak-active: #8351c2;
    --a-info-icon-weak-default: #a580d3;
    --a-info-icon-weak-hover: #c6afe3;
    --a-info-icon-weak-inv-active: #ffffff;
    --a-info-icon-weak-inv-default: #ffffff;
    --a-info-icon-weak-inv-hover: #ffffff;
    --a-info-txt-active: #ffffff;
    --a-info-txt-default: #ffffff;
    --a-info-txt-hover: #ffffff;
    --a-info-txt-inv-active: #ffffff;
    --a-info-txt-inv-default: #ffffff;
    --a-info-txt-inv-hover: #ffffff;
    --a-info-txt-weak-active: #8351c2;
    --a-info-txt-weak-default: #a580d3;
    --a-info-txt-weak-hover: #c6afe3;
    --a-info-txt-weak-inv-active: #ffffff;
    --a-info-txt-weak-inv-default: #ffffff;
    --a-info-txt-weak-inv-hover: #ffffff;

    // Neutral tokens
    --a-neutral-bg-active: #1b1b1a;
    --a-neutral-bg-default: #ffffff;
    --a-neutral-bg-disabled: #f7f7f4;
    --a-neutral-bg-hover: #efeeeb;
    --a-neutral-bg-weak-active: #e8e7e3;
    --a-neutral-bg-weak-default: #f7f7f4;
    --a-neutral-bg-weak-hover: #efeeeb;
    --a-neutral-border-active: #000000;
    --a-neutral-border-default: #bfbeb9;
    --a-neutral-border-disabled: #dad9d5;
    --a-neutral-border-hover: #8d8c88;
    --a-neutral-border-weak-active: #dad9d5;
    --a-neutral-border-weak-default: #e8e7e3;
    --a-neutral-border-weak-hover: #dad9d5;
    --a-neutral-canvas-default: #ffffff;
    --a-neutral-elevation-100-drop: rgba(27, 27, 26, 0.06);
    --a-neutral-elevation-100-inner: rgba(27, 27, 26, 0.06);
    --a-neutral-elevation-200-drop: rgba(27, 27, 26, 0.12);
    --a-neutral-elevation-200-inner: rgba(27, 27, 26, 0.12);
    --a-neutral-elevation-300-drop: rgba(27, 27, 26, 0.16);
    --a-neutral-elevation-300-inner: rgba(27, 27, 26, 0.12);
    --a-neutral-icon-active: #000000;
    --a-neutral-icon-default: #383836;
    --a-neutral-icon-disabled: #8d8c88;
    --a-neutral-icon-hover: #1b1b1a;
    --a-neutral-icon-inv-active: #ffffff;
    --a-neutral-icon-inv-default: #f7f7f4;
    --a-neutral-icon-inv-disabled: #bfbeb9;
    --a-neutral-icon-inv-hover: #efeeeb;
    --a-neutral-icon-weak-active: #1b1b1a;
    --a-neutral-icon-weak-default: #5c5b57;
    --a-neutral-icon-weak-hover: #383836;
    --a-neutral-icon-weak-inv-active: #f7f7f4;
    --a-neutral-icon-weak-inv-default: #dad9d5;
    --a-neutral-icon-weak-inv-hover: #e8e7e3;
    --a-neutral-shadow-button-drop: #efeeeb;
    --a-neutral-shadow-button-inner: #f7f7f4;
    --a-neutral-txt-active: #000000;
    --a-neutral-txt-default: #383836;
    --a-neutral-txt-disabled: #8d8c88;
    --a-neutral-txt-hover: #1b1b1a;
    --a-neutral-txt-inv-active: #ffffff;
    --a-neutral-txt-inv-default: #f7f7f4;
    --a-neutral-txt-inv-disabled: #bfbeb9;
    --a-neutral-txt-inv-hover: #efeeeb;
    --a-neutral-txt-weak-active: #1b1b1a;
    --a-neutral-txt-weak-default: #5c5b57;
    --a-neutral-txt-weak-hover: #383836;
    --a-neutral-txt-weak-inv-active: #f7f7f4;
    --a-neutral-txt-weak-inv-default: #dad9d5;
    --a-neutral-txt-weak-inv-hover: #e8e7e3;

    // Primary tokens
    --a-primary-bg-active: #110662;
    --a-primary-bg-default: #371ee1;
    --a-primary-bg-hover: #221098;
    --a-primary-bg-weak-active: #dae2fe;
    --a-primary-bg-weak-default: #f6f8ff;
    --a-primary-bg-weak-hover: #ecf1ff;
    --a-primary-border-active: #110662;
    --a-primary-border-default: #371ee1;
    --a-primary-border-hover: #221098;
    --a-primary-border-weak-active: #a4b6fb;
    --a-primary-border-weak-default: #dae2fe;
    --a-primary-border-weak-hover: #ecf1ff;
    --a-primary-icon-active: #ffffff;
    --a-primary-icon-default: #ffffff;
    --a-primary-icon-hover: #ffffff;
    --a-primary-icon-inv-active: #ffffff;
    --a-primary-icon-inv-default: #ffffff;
    --a-primary-icon-inv-hover: #ffffff;
    --a-primary-icon-weak-active: #371ee1;
    --a-primary-icon-weak-default: #7588f6;
    --a-primary-icon-weak-hover: #a4b6fb;
    --a-primary-icon-weak-inv-active: #ffffff;
    --a-primary-icon-weak-inv-default: #ffffff;
    --a-primary-icon-weak-inv-hover: #ffffff;
    --a-primary-txt-active: #ffffff;
    --a-primary-txt-default: #ffffff;
    --a-primary-txt-hover: #ffffff;
    --a-primary-txt-inv-active: #ffffff;
    --a-primary-txt-inv-default: #ffffff;
    --a-primary-txt-inv-hover: #ffffff;
    --a-primary-txt-weak-active: #371ee1;
    --a-primary-txt-weak-default: #7588f6;
    --a-primary-txt-weak-hover: #a4b6fb;
    --a-primary-txt-weak-inv-active: #ffffff;
    --a-primary-txt-weak-inv-default: #ffffff;
    --a-primary-txt-weak-inv-hover: #ffffff;

    // Success tokens
    --a-success-bg-active: #00513e;
    --a-success-bg-default: #00795d;
    --a-success-bg-hover: #00513e;
    --a-success-bg-weak-active: #cce8e2;
    --a-success-bg-weak-default: #f2f9f8;
    --a-success-bg-weak-hover: #e6f4f0;
    --a-success-border-active: #00382b;
    --a-success-border-default: #00795d;
    --a-success-border-hover: #00513e;
    --a-success-border-weak-active: #7fc6b6;
    --a-success-border-weak-default: #cce8e2;
    --a-success-border-weak-hover: #e6f4f0;
    --a-succesa-icon-active: #ffffff;
    --a-succesa-icon-default: #ffffff;
    --a-succesa-icon-hover: #ffffff;
    --a-succesa-icon-inv-active: #ffffff;
    --a-succesa-icon-inv-default: #ffffff;
    --a-succesa-icon-inv-hover: #ffffff;
    --a-succesa-icon-weak-active: #00795d;
    --a-succesa-icon-weak-default: #2da287;
    --a-succesa-icon-weak-hover: #7fc6b6;
    --a-succesa-icon-weak-inv-active: #ffffff;
    --a-succesa-icon-weak-inv-default: #ffffff;
    --a-succesa-icon-weak-inv-hover: #ffffff;
    --a-success-txt-active: #ffffff;
    --a-success-txt-default: #ffffff;
    --a-success-txt-hover: #ffffff;
    --a-success-txt-inv-active: #ffffff;
    --a-success-txt-inv-default: #ffffff;
    --a-success-txt-inv-hover: #ffffff;
    --a-success-txt-weak-active: #00795d;
    --a-success-txt-weak-default: #2da287;
    --a-success-txt-weak-hover: #7fc6b6;
    --a-success-txt-weak-inv-active: #ffffff;
    --a-success-txt-weak-inv-default: #ffffff;
    --a-success-txt-weak-inv-hover: #ffffff;

    // Warning tokens
    --a-warning-bg-active: #4b481b;
    --a-warning-bg-default: #716d28;
    --a-warning-bg-hover: #4b481b;
    --a-warning-bg-weak-active: #ece68c;
    --a-warning-bg-weak-default: #faf9e3;
    --a-warning-bg-weak-hover: #f6f3c7;
    --a-warning-border-active: #333112;
    --a-warning-border-default: #716d28;
    --a-warning-border-hover: #4b481b;
    --a-warning-border-weak-active: #c4bc45;
    --a-warning-border-weak-default: #ece68c;
    --a-warning-border-weak-hover: #f6f3c7;
    --a-warning-icon-active: #ffffff;
    --a-warning-icon-default: #ffffff;
    --a-warning-icon-hover: #ffffff;
    --a-warning-icon-inv-active: #ffffff;
    --a-warning-icon-inv-default: #ffffff;
    --a-warning-icon-inv-hover: #ffffff;
    --a-warning-icon-weak-active: #716d28;
    --a-warning-icon-weak-default: #9a9336;
    --a-warning-icon-weak-hover: #c4bc45;
    --a-warning-icon-weak-inv-active: #ffffff;
    --a-warning-icon-weak-inv-default: #ffffff;
    --a-warning-icon-weak-inv-hover: #ffffff;
    --a-warning-txt-active: #ffffff;
    --a-warning-txt-default: #ffffff;
    --a-warning-txt-hover: #ffffff;
    --a-warning-txt-inv-active: #ffffff;
    --a-warning-txt-inv-default: #ffffff;
    --a-warning-txt-inv-hover: #ffffff;
    --a-warning-txt-weak-active: #716d28;
    --a-warning-txt-weak-default: #9a9336;
    --a-warning-txt-weak-hover: #c4bc45;
    --a-warning-txt-weak-inv-active: #ffffff;
    --a-warning-txt-weak-inv-default: #ffffff;
    --a-warning-txt-weak-inv-hover: #ffffff;
}
