.pa-null {
    padding: var(--s-padding-null) !important;
}
.pa-xs {
    padding: var(--s-padding-xs) !important;
}
.pa-s {
    padding: var(--s-padding-s) !important;
}
.pa-m {
    padding: var(--s-padding-m) !important;
}
.pa-l {
    padding: var(--s-padding-l) !important;
}
.pa-xl {
    padding: var(--s-padding-xl) !important;
}
.pa-xxl {
    padding: var(--s-padding-xxl) !important;
}
.pt-null {
    padding-top: var(--s-padding-null) !important;
}
.pt-xs {
    padding-top: var(--s-padding-xs) !important;
}
.pt-s {
    padding-top: var(--s-padding-s) !important;
}
.pt-m {
    padding-top: var(--s-padding-m) !important;
}
.pt-l {
    padding-top: var(--s-padding-l) !important;
}
.pt-xl {
    padding-top: var(--s-padding-xl) !important;
}
.pt-xxl {
    padding-top: var(--s-padding-xxl) !important;
}
.pb-null {
    padding-bottom: var(--s-padding-null) !important;
}
.pb-xs {
    padding-bottom: var(--s-padding-xs) !important;
}
.pb-s {
    padding-bottom: var(--s-padding-s) !important;
}
.pb-m {
    padding-bottom: var(--s-padding-m) !important;
}
.pb-l {
    padding-bottom: var(--s-padding-l) !important;
}
.pb-xl {
    padding-bottom: var(--s-padding-xl) !important;
}
.pb-xxl {
    padding-bottom: var(--s-padding-xxl) !important;
}
.ps-null {
    padding: var(--s-padding-null) !important;
}
.ps-xs {
    padding-inline-start: var(--s-padding-xs) !important;
}
.ps-s {
    padding-inline-start: var(--s-padding-s) !important;
}
.ps-m {
    padding-inline-start: var(--s-padding-m) !important;
}
.ps-l {
    padding-inline-start: var(--s-padding-l) !important;
}
.ps-xl {
    padding-inline-start: var(--s-padding-xl) !important;
}
.ps-xxl {
    padding-inline-start: var(--s-padding-xxl) !important;
}
.pe-null {
    padding-inline-end: var(--s-padding-null) !important;
}
.pe-xs {
    padding-inline-end: var(--s-padding-xs) !important;
}
.pe-s {
    padding-inline-end: var(--s-padding-s) !important;
}
.pe-m {
    padding-inline-end: var(--s-padding-m) !important;
}
.pe-l {
    padding-inline-end: var(--s-padding-l) !important;
}
.pe-xl {
    padding-inline-end: var(--s-padding-xl) !important;
}
.pe-xxl {
    padding-inline-end: var(--s-padding-xxl) !important;
}
.g-null {
    gap: var(--s-spacing-null) !important;
}
.g-xs {
    gap: var(--s-spacing-xs) !important;
}
.g-s {
    gap: var(--s-spacing-s) !important;
}
.g-m {
    gap: var(--s-spacing-m) !important;
}
.g-l {
    gap: var(--s-spacing-l) !important;
}
.g-xl {
    gap: var(--s-spacing-xl) !important;
}
.g-xxl {
    gap: var(--s-spacing-xxl) !important;
}
.rounded-null {
    border-radius: var(--s-radius-null) !important;
}
.rounded-xs {
    border-radius: var(--s-radius-xs) !important;
}
.rounded-s {
    border-radius: var(--s-radius-s) !important;
}
.rounded-m {
    border-radius: var(--s-radius-m) !important;
}
.rounded-l {
    border-radius: var(--s-radius-l) !important;
}
.rounded-xl {
    border-radius: var(--s-radius-xl) !important;
}
.rounded-xxl {
    border-radius: var(--s-radius-xxl) !important;
}
.font-size-100 {
    font-size: var(--s-fontsize-100) !important;
}
.font-size-200 {
    font-size: var(--s-fontsize-200) !important;
}
.font-size-300 {
    font-size: var(--s-fontsize-300) !important;
}
.font-size-400 {
    font-size: var(--s-fontsize-400) !important;
}
.font-size-500 {
    font-size: var(--s-fontsize-500) !important;
}
.font-size-600 {
    font-size: var(--s-fontsize-600) !important;
}
.font-size-700 {
    font-size: var(--s-fontsize-700) !important;
}
.font-size-800 {
    font-size: var(--s-fontsize-800) !important;
}
.line-height-100 {
    line-height: var(--s-lineheight-100) !important;
}
.line-height-200 {
    line-height: var(--s-lineheight-200) !important;
}
.line-height-300 {
    line-height: var(--s-lineheight-300) !important;
}
.line-height-400 {
    line-height: var(--s-lineheight-400) !important;
}
.line-height-500 {
    line-height: var(--s-lineheight-500) !important;
}
.line-height-600 {
    line-height: var(--s-lineheight-600) !important;
}
.line-height-700 {
    line-height: var(--s-lineheight-700) !important;
}
.line-height-800 {
    line-height: var(--s-lineheight-800) !important;
}
.font-weight-thin {
    font-weight: var(--s-fontweight-100) !important;
}
.font-weight-extralight {
    font-weight: var(--s-fontweight-200) !important;
}
.font-weight-light {
    font-weight: var(--s-fontweight-300) !important;
}
.font-weight-normal {
    font-weight: var(--s-fontweight-400) !important;
}
.font-weight-medium {
    font-weight: var(--s-fontweight-500) !important;
}
.font-weight-semibold {
    font-weight: var(--s-fontweight-600) !important;
}
.font-weight-bold {
    font-weight: var(--s-fontweight-700) !important;
}
.font-weight-extrabold {
    font-weight: var(--s-fontweight-800) !important;
}
