.rhp-toast-stacker {
    // Block styles
    position: fixed;
    left: 16px;
    bottom: 16px;
    display: flex;
    flex-direction: column-reverse;
    gap: 8px;
    z-index: 1600;

    // Elements
    &__item {
        transition: transform 0.2s ease, opacity 0.2s ease;
    }
}
