.rhp-menubar {
    // Block styles
    display: flex;
    gap: var(--a-spacing-s);
    padding: var(--a-spacing-s) var(--a-padding-xl);
    border-bottom: 1px solid var(--a-neutral-border-weak-default);

    // Elements
    &__item {
        background: none;
        border: 0;
        padding: var(--a-spacing-s) var(--a-padding-m);
        cursor: pointer;

        &.is-active {
            border-bottom: 2px solid var(--a-primary-border-default);
        }
    }
}
