.rhp-breadcrumbs {
    // Block styles
    display: inline-flex;
    align-items: center;
    gap: var(--a-spacing-s);
    line-height: var(--a-fontsize-500);

    // Elements
    &__button {
        height: var(--a-sizing-s);
        padding: var(--a-spacing-null);

        .rhp-button__content {
            text-decoration-line: underline;
            color: var(--a-primary-txt-default);
        }

        &.rhp-button--ghost.rhp-button:hover {
            background: unset;
        }
    }

    &__item {
        color: var(--a-neutral-txt-default);
        font: var(--a-text-md-default);

        &--current {
            font: var(--a-text-md-strong);
        }
    }

    &__more {
        position: relative;
    }

    &__menu {
        position: absolute;
        top: calc(100% + var(--a-padding-m));
        right: 0;
        background: var(--a-neutral-bg-default);
        border: 1px solid var(--a-neutral-border-weak-default);
        border-radius: var(--a-radius-s);
        box-shadow: var(--a-elevation-200);
        padding: var(--a-padding-xs);
        z-index: 10;
    }

    &__menu-item {
        padding: var(--a-padding-xxs) var(--a-padding-s);
    }

    // Modifiers
    &--mobile {
        display: inline-flex;
        align-items: center;
        gap: var(--a-spacing-s);
        line-height: var(--a-fontsize-500);
    }
}
