:root[data-theme="theme-muted"],
.rhp-theme-provider-muted {
    --a-brand-bg-active: #1b1b1a;
    --a-brand-bg-default: #383836;
    --a-brand-bg-hover: #5c5b57;
    --a-brand-bg-weak-active: #8d8c88;
    --a-brand-bg-weak-default: #f7f7f4;
    --a-brand-bg-weak-hover: #dad9d5;
    --a-brand-border-active: #1b1b1a;
    --a-brand-border-default: #5c5b57;
    --a-brand-border-hover: #383836;
    --a-brand-border-weak-active: rgba(48, 48, 46, 0.5);
    --a-brand-border-weak-default: rgba(107, 107, 104, 0.5);
    --a-brand-border-weak-hover: rgba(71, 71, 70, 0.5);
    --a-brand-icon-active: #1b1b1a;
    --a-brand-icon-default: #5c5b57;
    --a-brand-icon-hover: #383836;
    --a-brand-icon-inv-active: #ffffff;
    --a-brand-icon-inv-default: #f7f7f4;
    --a-brand-icon-inv-hover: #efeeeb;
    --a-brand-icon-weak-active: #383836;
    --a-brand-icon-weak-default: #8d8c88;
    --a-brand-icon-weak-hover: #5c5b57;
    --a-brand-icon-weak-inv-active: #f7f7f4;
    --a-brand-icon-weak-inv-default: #e8e7e3;
    --a-brand-icon-weak-inv-hover: #efeeeb;
    --a-brand-txt-active: #000000;
    --a-brand-txt-default: #383836;
    --a-brand-txt-hover: #1b1b1a;
    --a-brand-txt-inv-active: #ffffff;
    --a-brand-txt-inv-default: #f7f7f4;
    --a-brand-txt-inv-hover: #efeeeb;
    --a-brand-txt-weak-active: #383836;
    --a-brand-txt-weak-default: #8d8c88;
    --a-brand-txt-weak-hover: #5c5b57;
    --a-brand-txt-weak-inv-active: #f7f7f4;
    --a-brand-txt-weak-inv-default: #e8e7e3;
    --a-brand-txt-weak-inv-hover: #efeeeb;

    /* Error tokens */
    --a-error-bg-active: #670022;
    --a-error-bg-default: #d50047;
    --a-error-bg-hover: #910031;
    --a-error-bg-weak-active: #fbdae5;
    --a-error-bg-weak-default: #fef6f9;
    --a-error-bg-weak-hover: #fdedf2;
    --a-error-border-active: #670022;
    --a-error-border-default: #d50047;
    --a-error-border-hover: #910031;
    --a-error-icon-active: #670022;
    --a-error-icon-default: #d50047;
    --a-error-icon-hover: #910031;
    --a-error-icon-inv-active: #ffffff;
    --a-error-icon-inv-default: #fef6f9;
    --a-error-icon-inv-hover: #fdedf2;
    --a-error-txt-active: #670022;
    --a-error-txt-default: #d50047;
    --a-error-txt-hover: #910031;
    --a-error-txt-inv-active: #ffffff;
    --a-error-txt-inv-default: #fef6f9;
    --a-error-txt-inv-hover: #fdedf2;

    /* Info tokens */
    --a-info-bg-active: #3c245a;
    --a-info-bg-default: #8351c2;
    --a-info-bg-hover: #583583;
    --a-info-bg-weak-active: #e8dff4;
    --a-info-bg-weak-default: #f9f7fc;
    --a-info-bg-weak-hover: #f3eff9;
    --a-info-border-active: #3c245a;
    --a-info-border-default: #8351c2;
    --a-info-border-hover: #583583;
    --a-info-icon-active: #3c245a;
    --a-info-icon-default: #8351c2;
    --a-info-icon-hover: #583583;
    --a-info-icon-inv-active: #ffffff;
    --a-info-icon-inv-default: #f9f7fc;
    --a-info-icon-inv-hover: #f3eff9;
    --a-info-txt-active: #3c245a;
    --a-info-txt-default: #8351c2;
    --a-info-txt-hover: #583583;
    --a-info-txt-inv-active: #ffffff;
    --a-info-txt-inv-default: #f9f7fc;
    --a-info-txt-inv-hover: #f3eff9;

    /* Neutral tokens */
    --a-neutral-bg-active: #1b1b1a;
    --a-neutral-bg-default-90a: rgba(255, 255, 255, 0.9);
    --a-neutral-bg-default: #ffffff;
    --a-neutral-bg-disabled: #f7f7f4;
    --a-neutral-bg-hover: #383836;
    --a-neutral-bg-inv-default-20a: rgba(71, 71, 70, 0.2);
    --a-neutral-bg-inv-default: #5c5b57;
    --a-neutral-bg-weak-active: #e8e7e3;
    --a-neutral-bg-weak-default: #f7f7f4;
    --a-neutral-bg-weak-hover: #efeeeb;
    --a-neutral-border-active: #1b1b1a;
    --a-neutral-border-default: #5c5b57;
    --a-neutral-border-disabled: #dad9d5;
    --a-neutral-border-hover: #383836;
    --a-neutral-border-weak-active: #5c5b57;
    --a-neutral-border-weak-default: #bfbeb9;
    --a-neutral-border-weak-hover: #8d8c88;
    --a-neutral-canvas-default: #f7f7f4;
    --a-neutral-elevation-100-drop: rgba(27, 27, 26, 0.06);
    --a-neutral-elevation-100-inner: rgba(27, 27, 26, 0.12);
    --a-neutral-elevation-200-drop: rgba(27, 27, 26, 0.12);
    --a-neutral-elevation-200-inner: rgba(27, 27, 26, 0.12);
    --a-neutral-elevation-300-drop: rgba(27, 27, 26, 0.16);
    --a-neutral-elevation-300-inner: rgba(27, 27, 26, 0.12);
    --a-neutral-icon-active: #000000;
    --a-neutral-icon-default: #383836;
    --a-neutral-icon-disabled: #8d8c88;
    --a-neutral-icon-hover: #1b1b1a;
    --a-neutral-icon-inv-active: #ffffff;
    --a-neutral-icon-inv-default: #f7f7f4;
    --a-neutral-icon-inv-disabled: #bfbeb9;
    --a-neutral-icon-inv-hover: #efeeeb;
    --a-neutral-icon-weak-active: #1b1b1a;
    --a-neutral-icon-weak-default: #5c5b57;
    --a-neutral-icon-weak-hover: #383836;
    --a-neutral-icon-weak-inv-active: #f7f7f4;
    --a-neutral-icon-weak-inv-default: #dad9d5;
    --a-neutral-icon-weak-inv-hover: #e8e7e3;
    --a-neutral-shadow-button-drop: #efeeeb;
    --a-neutral-shadow-button-inner: #f7f7f4;
    --a-neutral-txt-active: #000000;
    --a-neutral-txt-default: #383836;
    --a-neutral-txt-disabled: #8d8c88;
    --a-neutral-txt-hover: #1b1b1a;
    --a-neutral-txt-inv-active: #ffffff;
    --a-neutral-txt-inv-default: #f7f7f4;
    --a-neutral-txt-inv-disabled: #bfbeb9;
    --a-neutral-txt-inv-hover: #efeeeb;
    --a-neutral-txt-weak-active: #1b1b1a;
    --a-neutral-txt-weak-default: #5c5b57;
    --a-neutral-txt-weak-hover: #383836;
    --a-neutral-txt-weak-inv-active: #f7f7f4;
    --a-neutral-txt-weak-inv-default: #dad9d5;
    --a-neutral-txt-weak-inv-hover: #efeeeb;

    /* Primary tokens */
    --a-primary-bg-active: #110662;
    --a-primary-bg-default: #371ee1;
    --a-primary-bg-hover: #221098;
    --a-primary-bg-weak-active: #dae2fe;
    --a-primary-bg-weak-default: #f6f8ff;
    --a-primary-bg-weak-hover: #ecf1ff;
    --a-primary-border-active: #110662;
    --a-primary-border-default: #371ee1;
    --a-primary-border-hover: #221098;
    --a-primary-icon-active: #110662;
    --a-primary-icon-default: #371ee1;
    --a-primary-icon-hover: #221098;
    --a-primary-icon-inv-active: #ffffff;
    --a-primary-icon-inv-default: #f6f8ff;
    --a-primary-icon-inv-hover: #ecf1ff;
    --a-primary-icon-weak-active: #221098;
    --a-primary-icon-weak-default: #4d58eb;
    --a-primary-icon-weak-hover: #371ee1;
    --a-primary-icon-weak-inv-active: #f6f8ff;
    --a-primary-icon-weak-inv-default: #dae2fe;
    --a-primary-icon-weak-inv-hover: #ecf1ff;
    --a-primary-txt-active: #110662;
    --a-primary-txt-default: #371ee1;
    --a-primary-txt-hover: #221098;
    --a-primary-txt-inv-active: #ffffff;
    --a-primary-txt-inv-default: #f6f8ff;
    --a-primary-txt-inv-hover: #ecf1ff;
    --a-primary-txt-weak-active: #221098;
    --a-primary-txt-weak-default: #4d58eb;
    --a-primary-txt-weak-hover: #371ee1;
    --a-primary-txt-weak-inv-active: #f6f8ff;
    --a-primary-txt-weak-inv-default: #dae2fe;
    --a-primary-txt-weak-inv-hover: #ecf1ff;

    /* Success tokens */
    --a-success-bg-active: #00382b;
    --a-success-bg-default: #00795d;
    --a-success-bg-hover: #00513e;
    --a-success-bg-weak-active: #cce8e2;
    --a-success-bg-weak-default: #f2f9f8;
    --a-success-bg-weak-hover: #e6f4f0;
    --a-success-border-active: #00382b;
    --a-success-border-default: #00795d;
    --a-success-border-hover: #00513e;
    --a-succesa-icon-active: #00382b;
    --a-succesa-icon-default: #00795d;
    --a-succesa-icon-hover: #00513e;
    --a-succesa-icon-inv-active: #ffffff;
    --a-succesa-icon-inv-default: #f2f9f8;
    --a-succesa-icon-inv-hover: #e6f4f0;
    --a-success-txt-active: #00382b;
    --a-success-txt-default: #00795d;
    --a-success-txt-hover: #00513e;
    --a-success-txt-inv-active: #ffffff;
    --a-success-txt-inv-default: #f2f9f8;
    --a-success-txt-inv-hover: #e6f4f0;

    /* Warning tokens */
    --a-warning-bg-active: #9a9336;
    --a-warning-bg-default: #ece68c;
    --a-warning-bg-hover: #c4bc45;
    --a-warning-bg-weak-active: #ece68c;
    --a-warning-bg-weak-default: #faf9e3;
    --a-warning-bg-weak-hover: #f6f3c7;
    --a-warning-border-active: #333112;
    --a-warning-border-default: #716d28;
    --a-warning-border-hover: #4b481b;
    --a-warning-icon-active: #333112;
    --a-warning-icon-default: #716d28;
    --a-warning-icon-hover: #4b481b;
    --a-warning-icon-inv-active: #121106;
    --a-warning-icon-inv-default: #4b481b;
    --a-warning-icon-inv-hover: #333112;
    --a-warning-txt-active: #333112;
    --a-warning-txt-default: #716d28;
    --a-warning-txt-hover: #4b481b;
    --a-warning-txt-inv-active: #121106;
    --a-warning-txt-inv-default: #4b481b;
    --a-warning-txt-inv-hover: #333112;
}
