:root[data-theme="theme-dark"],
.rhp-theme-provider-dark {
    --a-brand-bg-active: #292928;
    --a-brand-bg-default: #161615;
    --a-brand-bg-hover: #1f1f1e;
    --a-brand-bg-weak-active: #292928;
    --a-brand-bg-weak-default: #090908;
    --a-brand-bg-weak-hover: #1f1f1e;
    --a-brand-border-active: #ecebe7;
    --a-brand-border-default: #93928e;
    --a-brand-border-hover: #c5c4bf;
    --a-brand-border-weak-active: rgba(147, 146, 142, 0.9);
    --a-brand-border-weak-default: rgba(147, 146, 142, 0.7);
    --a-brand-border-weak-hover: rgba(147, 146, 142, 0.8);
    --a-brand-icon-active: #ffffff;
    --a-brand-icon-default: #fbfcfc;
    --a-brand-icon-hover: #e8ebf2;
    --a-brand-icon-inv-active: #ecebe7;
    --a-brand-icon-inv-default: #c5c4bf;
    --a-brand-icon-inv-hover: #ecebe7;
    --a-brand-icon-weak-active: #e8ebf2;
    --a-brand-icon-weak-default: #93928e;
    --a-brand-icon-weak-hover: #c0cbe1;
    --a-brand-icon-weak-inv-active: #93928e;
    --a-brand-icon-weak-inv-default: #61605d;
    --a-brand-icon-weak-inv-hover: #c5c4bf;
    --a-brand-txt-active: #ffffff;
    --a-brand-txt-default: #fcfcfa;
    --a-brand-txt-hover: #ecebe7;
    --a-brand-txt-inv-active: #ecebe7;
    --a-brand-txt-inv-default: #c5c4bf;
    --a-brand-txt-inv-hover: #ecebe7;
    --a-brand-txt-weak-active: #ecebe7;
    --a-brand-txt-weak-default: #93928e;
    --a-brand-txt-weak-hover: #c5c4bf;
    --a-brand-txt-weak-inv-active: #ecebe7;
    --a-brand-txt-weak-inv-default: #93928e;
    --a-brand-txt-weak-inv-hover: #c5c4bf;

    /* Error tokens */
    --a-error-bg-active: #4d2231;
    --a-error-bg-default: #cd6a8b;
    --a-error-bg-hover: #6e3347;
    --a-error-bg-weak-active: #f0dee2;
    --a-error-bg-weak-default: #faf7f8;
    --a-error-bg-weak-hover: #f7eff1;
    --a-error-border-active: #4d2231;
    --a-error-border-default: #cd6a8b;
    --a-error-border-hover: #6e3347;
    --a-error-icon-active: #4d2231;
    --a-error-icon-default: #cd6a8b;
    --a-error-icon-hover: #6e3347;
    --a-error-icon-inv-active: #ffffff;
    --a-error-icon-inv-default: #faf7f8;
    --a-error-icon-inv-hover: #f7eff1;
    --a-error-txt-active: #4d2231;
    --a-error-txt-default: #cd6a8b;
    --a-error-txt-hover: #6e3347;
    --a-error-txt-inv-active: #ffffff;
    --a-error-txt-inv-default: #faf7f8;
    --a-error-txt-inv-hover: #f7eff1;

    /* Info tokens */
    --a-info-bg-active: #3b2758;
    --a-info-bg-default: #9980b7;
    --a-info-bg-hover: #56397e;
    --a-info-bg-weak-active: #e6e0ec;
    --a-info-bg-weak-default: #f9f7fa;
    --a-info-bg-weak-hover: #f2f0f5;
    --a-info-border-active: #3b2758;
    --a-info-border-default: #9980b7;
    --a-info-border-hover: #56397e;
    --a-info-icon-active: #3b2758;
    --a-info-icon-default: #9980b7;
    --a-info-icon-hover: #56397e;
    --a-info-icon-inv-active: #ffffff;
    --a-info-icon-inv-default: #f9f7fa;
    --a-info-icon-inv-hover: #f2f0f5;
    --a-info-txt-active: #3b2758;
    --a-info-txt-default: #9980b7;
    --a-info-txt-hover: #56397e;
    --a-info-txt-inv-active: #ffffff;
    --a-info-txt-inv-default: #f9f7fa;
    --a-info-txt-inv-hover: #f2f0f5;

    /* Neutral tokens */
    --a-neutral-bg-active: #fcfcfa;
    --a-neutral-bg-default-90a: rgba(9, 9, 8, 0.9);
    --a-neutral-bg-default: #090908;
    --a-neutral-bg-disabled: #1f1f1e;
    --a-neutral-bg-hover: #c5c4bf;
    --a-neutral-bg-inv-default-20a: rgba(197, 196, 191, 0.2);
    --a-neutral-bg-inv-default: #93928e;
    --a-neutral-bg-weak-active: #292928;
    --a-neutral-bg-weak-default: #161615;
    --a-neutral-bg-weak-hover: #1f1f1e;
    --a-neutral-border-active: #fcfcfa;
    --a-neutral-border-default: #93928e;
    --a-neutral-border-disabled: #3e3d3b;
    --a-neutral-border-hover: #c5c4bf;
    --a-neutral-border-weak-active: #93928e;
    --a-neutral-border-weak-default: #61605d;
    --a-neutral-border-weak-hover: #3e3d3b;
    --a-neutral-canvas-default: #161615;
    --a-neutral-elevation-100-drop: rgba(9, 9, 8, 0.1);
    --a-neutral-elevation-100-inner: rgba(9, 9, 8, 0.24);
    --a-neutral-elevation-200-drop: rgba(9, 9, 8, 0.24);
    --a-neutral-elevation-200-inner: rgba(9, 9, 8, 0.24);
    --a-neutral-elevation-300-drop: rgba(9, 9, 8, 0.28);
    --a-neutral-elevation-300-inner: rgba(9, 9, 8, 0.24);
    --a-neutral-icon-active: #ffffff;
    --a-neutral-icon-default: #c5c4bf;
    --a-neutral-icon-disabled: #61605d;
    --a-neutral-icon-hover: #fcfcfa;
    --a-neutral-icon-inv-active: #090908;
    --a-neutral-icon-inv-default: #161615;
    --a-neutral-icon-inv-disabled: #61605d;
    --a-neutral-icon-inv-hover: #1f1f1e;
    --a-neutral-icon-weak-active: #fcfcfa;
    --a-neutral-icon-weak-default: #93928e;
    --a-neutral-icon-weak-hover: #c5c4bf;
    --a-neutral-icon-weak-inv-active: #161615;
    --a-neutral-icon-weak-inv-default: #3e3d3b;
    --a-neutral-icon-weak-inv-hover: #292928;
    --a-neutral-shadow-button-drop: #1f1f1e;
    --a-neutral-shadow-button-inner: #161615;
    --a-neutral-txt-active: #ffffff;
    --a-neutral-txt-default: #c5c4bf;
    --a-neutral-txt-disabled: #61605d;
    --a-neutral-txt-hover: #fcfcfa;
    --a-neutral-txt-inv-active: #090908;
    --a-neutral-txt-inv-default: #161615;
    --a-neutral-txt-inv-disabled: #61605d;
    --a-neutral-txt-inv-hover: #1f1f1e;
    --a-neutral-txt-weak-active: #fcfcfa;
    --a-neutral-txt-weak-default: #93928e;
    --a-neutral-txt-weak-hover: #c5c4bf;
    --a-neutral-txt-weak-inv-active: #161615;
    --a-neutral-txt-weak-inv-default: #3e3d3b;
    --a-neutral-txt-weak-inv-hover: #1f1f1e;

    /* Primary tokens */
    --a-primary-bg-active: #081432;
    --a-primary-bg-default: #6a85bf;
    --a-primary-bg-hover: #224086;
    --a-primary-bg-weak-active: #c0cbe1;
    --a-primary-bg-weak-default: #fbfcfc;
    --a-primary-bg-weak-hover: #e8ebf2;
    --a-primary-border-active: #081432;
    --a-primary-border-default: #6a85bf;
    --a-primary-border-hover: #224086;
    --a-primary-icon-active: #081432;
    --a-primary-icon-default: #6a85bf;
    --a-primary-icon-hover: #224086;
    --a-primary-icon-inv-active: #ffffff;
    --a-primary-icon-inv-default: #fbfcfc;
    --a-primary-icon-inv-hover: #e8ebf2;
    --a-primary-icon-weak-active: #224086;
    --a-primary-icon-weak-default: #3d5fac;
    --a-primary-icon-weak-hover: #6a85bf;
    --a-primary-icon-weak-inv-active: #fbfcfc;
    --a-primary-icon-weak-inv-default: #c0cbe1;
    --a-primary-icon-weak-inv-hover: #e8ebf2;
    --a-primary-txt-active: #081432;
    --a-primary-txt-default: #6a85bf;
    --a-primary-txt-hover: #224086;
    --a-primary-txt-inv-active: #ffffff;
    --a-primary-txt-inv-default: #fbfcfc;
    --a-primary-txt-inv-hover: #e8ebf2;
    --a-primary-txt-weak-active: #224086;
    --a-primary-txt-weak-default: #3d5fac;
    --a-primary-txt-weak-hover: #6a85bf;
    --a-primary-txt-weak-inv-active: #fbfcfc;
    --a-primary-txt-weak-inv-default: #c0cbe1;
    --a-primary-txt-weak-inv-hover: #e8ebf2;

    /* Success tokens */
    --a-success-bg-active: #12362f;
    --a-success-bg-default: #54cdb4;
    --a-success-bg-hover: #1b4f45;
    --a-success-bg-weak-active: #81f7de;
    --a-success-bg-weak-default: #eafcf7;
    --a-success-bg-weak-hover: #d0faef;
    --a-success-border-active: #12362f;
    --a-success-border-default: #54cdb4;
    --a-success-border-hover: #1b4f45;
    --a-succesa-icon-active: #12362f;
    --a-succesa-icon-default: #54cdb4;
    --a-succesa-icon-hover: #1b4f45;
    --a-succesa-icon-inv-active: #ffffff;
    --a-succesa-icon-inv-default: #eafcf7;
    --a-succesa-icon-inv-hover: #d0faef;
    --a-success-txt-active: #12362f;
    --a-success-txt-default: #54cdb4;
    --a-success-txt-hover: #1b4f45;
    --a-success-txt-inv-active: #ffffff;
    --a-success-txt-inv-default: #eafcf7;
    --a-success-txt-inv-hover: #d0faef;

    /* Warning tokens */
    --a-warning-bg-active: #33311a;
    --a-warning-bg-default: #c4bc45;
    --a-warning-bg-hover: #4a4826;
    --a-warning-bg-weak-active: #ece68c;
    --a-warning-bg-weak-default: #fbf8e6;
    --a-warning-bg-weak-hover: #faf3a6;
    --a-warning-border-active: #33311a;
    --a-warning-border-default: #c4bc45;
    --a-warning-border-hover: #4a4826;
    --a-warning-icon-active: #33311a;
    --a-warning-icon-default: #c4bc45;
    --a-warning-icon-hover: #4a4826;
    --a-warning-icon-inv-active: #12110a;
    --a-warning-icon-inv-default: #4a4826;
    --a-warning-icon-inv-hover: #33311a;
    --a-warning-txt-active: #33311a;
    --a-warning-txt-default: #c4bc45;
    --a-warning-txt-hover: #4a4826;
    --a-warning-txt-inv-active: #12110a;
    --a-warning-txt-inv-default: #4a4826;
    --a-warning-txt-inv-hover: #33311a;
}
